=begin
Ruby InsightVM API Client

OpenAPI spec version: 3
Contact: support@rapid7.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0

=end

require 'uri'

module Rapid7VmConsole
  class RemediationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Asset Vulnerability Solution
    # Returns the highest-superceding rollup solutions for a vulnerability on an asset. The solution(s) selected will be the most recent and cost-effective means by which the vulnerability can be remediated.
    # @param id The identifier of the asset.
    # @param vulnerability_id The identifier of the vulnerability.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesMatchedSolution]
    def get_asset_vulnerability_solutions(id, vulnerability_id, opts = {})
      data, _status_code, _headers = get_asset_vulnerability_solutions_with_http_info(id, vulnerability_id, opts)
      data
    end

    # Asset Vulnerability Solution
    # Returns the highest-superceding rollup solutions for a vulnerability on an asset. The solution(s) selected will be the most recent and cost-effective means by which the vulnerability can be remediated.
    # @param id The identifier of the asset.
    # @param vulnerability_id The identifier of the vulnerability.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesMatchedSolution, Fixnum, Hash)>] ResourcesMatchedSolution data, response status code and response headers
    def get_asset_vulnerability_solutions_with_http_info(id, vulnerability_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RemediationApi.get_asset_vulnerability_solutions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RemediationApi.get_asset_vulnerability_solutions"
      end
      # verify the required parameter 'vulnerability_id' is set
      if @api_client.config.client_side_validation && vulnerability_id.nil?
        fail ArgumentError, "Missing the required parameter 'vulnerability_id' when calling RemediationApi.get_asset_vulnerability_solutions"
      end
      # resource path
      local_var_path = '/api/3/assets/{id}/vulnerabilities/{vulnerabilityId}/solution'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'vulnerabilityId' + '}', vulnerability_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesMatchedSolution')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RemediationApi#get_asset_vulnerability_solutions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
