=begin
Ruby InsightVM API Client

OpenAPI spec version: 3
Contact: support@rapid7.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0

=end

require 'uri'

module Rapid7VmConsole
  class SiteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Site Tag
    # Adds a tag to the site.
    # @param id The identifier of the site.
    # @param tag_id The identifier of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def add_site_tag(id, tag_id, opts = {})
      data, _status_code, _headers = add_site_tag_with_http_info(id, tag_id, opts)
      data
    end

    # Site Tag
    # Adds a tag to the site.
    # @param id The identifier of the site.
    # @param tag_id The identifier of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def add_site_tag_with_http_info(id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.add_site_tag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.add_site_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling SiteApi.add_site_tag"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/tags/{tagId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'tagId' + '}', tag_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#add_site_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Users Access
    # Grants a non-administrator user access to the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :param0 The identifier of the user.
    # @return [ReferenceWithUserIDLink]
    def add_site_user(id, opts = {})
      data, _status_code, _headers = add_site_user_with_http_info(id, opts)
      data
    end

    # Site Users Access
    # Grants a non-administrator user access to the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :param0 The identifier of the user.
    # @return [Array<(ReferenceWithUserIDLink, Fixnum, Hash)>] ReferenceWithUserIDLink data, response status code and response headers
    def add_site_user_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.add_site_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.add_site_user"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/users'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'param0'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithUserIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#add_site_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Sites
    # Creates a new site with the specified configuration.
    # @param [Hash] opts the optional parameters
    # @option opts [SiteCreateResource] :site Resource for creating a site configuration.
    # @return [ReferenceWithSiteIDLink]
    def create_site(opts = {})
      data, _status_code, _headers = create_site_with_http_info(opts)
      data
    end

    # Sites
    # Creates a new site with the specified configuration.
    # @param [Hash] opts the optional parameters
    # @option opts [SiteCreateResource] :site Resource for creating a site configuration.
    # @return [Array<(ReferenceWithSiteIDLink, Fixnum, Hash)>] ReferenceWithSiteIDLink data, response status code and response headers
    def create_site_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site ...'
      end
      # resource path
      local_var_path = '/api/3/sites'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'site'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithSiteIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Credentials
    # Creates a new site credential.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SiteCredential] :site_credential The specification of a site credential.
    # @return [CreatedReferenceCredentialIDLink]
    def create_site_credential(id, opts = {})
      data, _status_code, _headers = create_site_credential_with_http_info(id, opts)
      data
    end

    # Site Scan Credentials
    # Creates a new site credential.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SiteCredential] :site_credential The specification of a site credential.
    # @return [Array<(CreatedReferenceCredentialIDLink, Fixnum, Hash)>] CreatedReferenceCredentialIDLink data, response status code and response headers
    def create_site_credential_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site_credential ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.create_site_credential"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'site_credential'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CreatedReferenceCredentialIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Schedules
    # Creates a new scan schedule for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [ScanSchedule] :scan_schedule Resource for a scan schedule.
    # @return [ReferenceWithScanScheduleIDLink]
    def create_site_scan_schedule(id, opts = {})
      data, _status_code, _headers = create_site_scan_schedule_with_http_info(id, opts)
      data
    end

    # Site Scan Schedules
    # Creates a new scan schedule for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [ScanSchedule] :scan_schedule Resource for a scan schedule.
    # @return [Array<(ReferenceWithScanScheduleIDLink, Fixnum, Hash)>] ReferenceWithScanScheduleIDLink data, response status code and response headers
    def create_site_scan_schedule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site_scan_schedule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.create_site_scan_schedule"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_schedules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'scan_schedule'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithScanScheduleIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site_scan_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SMTP Alerts
    # Creates a new SMTP alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SmtpAlert] :alert Resource for creating a new SMTP alert.
    # @return [ReferenceWithAlertIDLink]
    def create_site_smtp_alert(id, opts = {})
      data, _status_code, _headers = create_site_smtp_alert_with_http_info(id, opts)
      data
    end

    # Site SMTP Alerts
    # Creates a new SMTP alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SmtpAlert] :alert Resource for creating a new SMTP alert.
    # @return [Array<(ReferenceWithAlertIDLink, Fixnum, Hash)>] ReferenceWithAlertIDLink data, response status code and response headers
    def create_site_smtp_alert_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site_smtp_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.create_site_smtp_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/smtp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'alert'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithAlertIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site_smtp_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SNMP Alerts
    # Creates a new SNMP alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SnmpAlert] :alert Resource for creating a new SNMP alert.
    # @return [ReferenceWithAlertIDLink]
    def create_site_snmp_alert(id, opts = {})
      data, _status_code, _headers = create_site_snmp_alert_with_http_info(id, opts)
      data
    end

    # Site SNMP Alerts
    # Creates a new SNMP alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SnmpAlert] :alert Resource for creating a new SNMP alert.
    # @return [Array<(ReferenceWithAlertIDLink, Fixnum, Hash)>] ReferenceWithAlertIDLink data, response status code and response headers
    def create_site_snmp_alert_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site_snmp_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.create_site_snmp_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/snmp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'alert'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithAlertIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site_snmp_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Syslog Alerts
    # Creates a new Syslog alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SyslogAlert] :alert Resource for creating a new Syslog alert.
    # @return [ReferenceWithAlertIDLink]
    def create_site_syslog_alert(id, opts = {})
      data, _status_code, _headers = create_site_syslog_alert_with_http_info(id, opts)
      data
    end

    # Site Syslog Alerts
    # Creates a new Syslog alert for the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [SyslogAlert] :alert Resource for creating a new Syslog alert.
    # @return [Array<(ReferenceWithAlertIDLink, Fixnum, Hash)>] ReferenceWithAlertIDLink data, response status code and response headers
    def create_site_syslog_alert_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.create_site_syslog_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.create_site_syslog_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/syslog'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'alert'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReferenceWithAlertIDLink')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#create_site_syslog_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Alerts
    # Deletes all alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_alerts(id, opts = {})
      data, _status_code, _headers = delete_all_site_alerts_with_http_info(id, opts)
      data
    end

    # Site Alerts
    # Deletes all alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Credentials
    # Deletes all site credentials from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_credentials(id, opts = {})
      data, _status_code, _headers = delete_all_site_credentials_with_http_info(id, opts)
      data
    end

    # Site Scan Credentials
    # Deletes all site credentials from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_credentials_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_credentials ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_credentials"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Schedules
    # Deletes all scan schedules from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_scan_schedules(id, opts = {})
      data, _status_code, _headers = delete_all_site_scan_schedules_with_http_info(id, opts)
      data
    end

    # Site Scan Schedules
    # Deletes all scan schedules from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_scan_schedules_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_scan_schedules ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_scan_schedules"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_schedules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_scan_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SMTP Alerts
    # Deletes all SMTP alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_smtp_alerts(id, opts = {})
      data, _status_code, _headers = delete_all_site_smtp_alerts_with_http_info(id, opts)
      data
    end

    # Site SMTP Alerts
    # Deletes all SMTP alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_smtp_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_smtp_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_smtp_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/smtp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_smtp_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SNMP Alerts
    # Deletes all SNMP alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_snmp_alerts(id, opts = {})
      data, _status_code, _headers = delete_all_site_snmp_alerts_with_http_info(id, opts)
      data
    end

    # Site SNMP Alerts
    # Deletes all SNMP alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_snmp_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_snmp_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_snmp_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/snmp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_snmp_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Syslog Alerts
    # Deletes all Syslog alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_all_site_syslog_alerts(id, opts = {})
      data, _status_code, _headers = delete_all_site_syslog_alerts_with_http_info(id, opts)
      data
    end

    # Site Syslog Alerts
    # Deletes all Syslog alerts from the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_all_site_syslog_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_all_site_syslog_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_all_site_syslog_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/syslog'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_all_site_syslog_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site
    # site.delete.description
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site(id, opts = {})
      data, _status_code, _headers = delete_site_with_http_info(id, opts)
      data
    end

    # Site
    # site.delete.description
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Credential
    # Deletes the specified site credential.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site_credential(id, credential_id, opts = {})
      data, _status_code, _headers = delete_site_credential_with_http_info(id, credential_id, opts)
      data
    end

    # Site Scan Credential
    # Deletes the specified site credential.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_credential_with_http_info(id, credential_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site_credential ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site_credential"
      end
      # verify the required parameter 'credential_id' is set
      if @api_client.config.client_side_validation && credential_id.nil?
        fail ArgumentError, "Missing the required parameter 'credential_id' when calling SiteApi.delete_site_credential"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials/{credentialId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'credentialId' + '}', credential_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Schedule
    # Deletes the specified scan schedule from the site.
    # @param id The identifier of the site.
    # @param schedule_id The identifier of the scan schedule.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site_scan_schedule(id, schedule_id, opts = {})
      data, _status_code, _headers = delete_site_scan_schedule_with_http_info(id, schedule_id, opts)
      data
    end

    # Site Scan Schedule
    # Deletes the specified scan schedule from the site.
    # @param id The identifier of the site.
    # @param schedule_id The identifier of the scan schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_scan_schedule_with_http_info(id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site_scan_schedule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site_scan_schedule"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SiteApi.delete_site_scan_schedule"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_schedules/{scheduleId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'scheduleId' + '}', schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site_scan_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SMTP Alert
    # Deletes the specified SMTP alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site_smtp_alert(id, alert_id, opts = {})
      data, _status_code, _headers = delete_site_smtp_alert_with_http_info(id, alert_id, opts)
      data
    end

    # Site SMTP Alert
    # Deletes the specified SMTP alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_smtp_alert_with_http_info(id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site_smtp_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site_smtp_alert"
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling SiteApi.delete_site_smtp_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/smtp/{alertId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'alertId' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site_smtp_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SNMP Alert
    # Deletes the specified SNMP alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site_snmp_alert(id, alert_id, opts = {})
      data, _status_code, _headers = delete_site_snmp_alert_with_http_info(id, alert_id, opts)
      data
    end

    # Site SNMP Alert
    # Deletes the specified SNMP alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_snmp_alert_with_http_info(id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site_snmp_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site_snmp_alert"
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling SiteApi.delete_site_snmp_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/snmp/{alertId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'alertId' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site_snmp_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Syslog Alert
    # Deletes the specified Syslog alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Links]
    def delete_site_syslog_alert(id, alert_id, opts = {})
      data, _status_code, _headers = delete_site_syslog_alert_with_http_info(id, alert_id, opts)
      data
    end

    # Site Syslog Alert
    # Deletes the specified Syslog alert from the site.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def delete_site_syslog_alert_with_http_info(id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.delete_site_syslog_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.delete_site_syslog_alert"
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling SiteApi.delete_site_syslog_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/syslog/{alertId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'alertId' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#delete_site_syslog_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Assigned Shared Credential Enablement
    # Enable or disable the shared credential for the site's scans.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the shared credential.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :status Flag indicating whether the shared credential is enabled for the site&#39;s scans.
    # @return [Links]
    def enable_shared_credential_on_site(id, credential_id, opts = {})
      data, _status_code, _headers = enable_shared_credential_on_site_with_http_info(id, credential_id, opts)
      data
    end

    # Assigned Shared Credential Enablement
    # Enable or disable the shared credential for the site&#39;s scans.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the shared credential.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :status Flag indicating whether the shared credential is enabled for the site&#39;s scans.
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def enable_shared_credential_on_site_with_http_info(id, credential_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.enable_shared_credential_on_site ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.enable_shared_credential_on_site"
      end
      # verify the required parameter 'credential_id' is set
      if @api_client.config.client_side_validation && credential_id.nil?
        fail ArgumentError, "Missing the required parameter 'credential_id' when calling SiteApi.enable_shared_credential_on_site"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/shared_credentials/{credentialId}/enabled'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'credentialId' + '}', credential_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'status'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#enable_shared_credential_on_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Credential Enablement
    # Enable or disable the site credential for scans.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :status Flag indicating whether the credential is enabled for use during the scan.
    # @return [Links]
    def enable_site_credential(id, credential_id, opts = {})
      data, _status_code, _headers = enable_site_credential_with_http_info(id, credential_id, opts)
      data
    end

    # Site Credential Enablement
    # Enable or disable the site credential for scans.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :status Flag indicating whether the credential is enabled for use during the scan.
    # @return [Array<(Links, Fixnum, Hash)>] Links data, response status code and response headers
    def enable_site_credential_with_http_info(id, credential_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.enable_site_credential ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.enable_site_credential"
      end
      # verify the required parameter 'credential_id' is set
      if @api_client.config.client_side_validation && credential_id.nil?
        fail ArgumentError, "Missing the required parameter 'credential_id' when calling SiteApi.enable_site_credential"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials/{credentialId}/enabled'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'credentialId' + '}', credential_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'status'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Links')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#enable_site_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Excluded Asset Groups
    # Retrieves the excluded asset groups in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesAssetGroup]
    def get_excluded_asset_groups(id, opts = {})
      data, _status_code, _headers = get_excluded_asset_groups_with_http_info(id, opts)
      data
    end

    # Site Excluded Asset Groups
    # Retrieves the excluded asset groups in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesAssetGroup, Fixnum, Hash)>] ResourcesAssetGroup data, response status code and response headers
    def get_excluded_asset_groups_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_excluded_asset_groups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_excluded_asset_groups"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/excluded_asset_groups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesAssetGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_excluded_asset_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Excluded Targets
    # Retrieves the excluded targets in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ScanTargetsResource]
    def get_excluded_targets(id, opts = {})
      data, _status_code, _headers = get_excluded_targets_with_http_info(id, opts)
      data
    end

    # Site Excluded Targets
    # Retrieves the excluded targets in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScanTargetsResource, Fixnum, Hash)>] ScanTargetsResource data, response status code and response headers
    def get_excluded_targets_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_excluded_targets ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_excluded_targets"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/excluded_targets'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScanTargetsResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_excluded_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Included Asset Groups
    # Retrieves the included asset groups in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesAssetGroup]
    def get_included_asset_groups(id, opts = {})
      data, _status_code, _headers = get_included_asset_groups_with_http_info(id, opts)
      data
    end

    # Site Included Asset Groups
    # Retrieves the included asset groups in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesAssetGroup, Fixnum, Hash)>] ResourcesAssetGroup data, response status code and response headers
    def get_included_asset_groups_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_included_asset_groups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_included_asset_groups"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/included_asset_groups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesAssetGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_included_asset_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Included Targets
    # Retrieves the included targets in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ScanTargetsResource]
    def get_included_targets(id, opts = {})
      data, _status_code, _headers = get_included_targets_with_http_info(id, opts)
      data
    end

    # Site Included Targets
    # Retrieves the included targets in a static site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScanTargetsResource, Fixnum, Hash)>] ScanTargetsResource data, response status code and response headers
    def get_included_targets_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_included_targets ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_included_targets"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/included_targets'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScanTargetsResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_included_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site
    # Retrieves the site with the specified identifier.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def get_site(id, opts = {})
      data, _status_code, _headers = get_site_with_http_info(id, opts)
      data
    end

    # Site
    # Retrieves the site with the specified identifier.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Fixnum, Hash)>] Site data, response status code and response headers
    def get_site_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Site')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Alerts
    # Retrieve all alerts defined in the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesAlert]
    def get_site_alerts(id, opts = {})
      data, _status_code, _headers = get_site_alerts_with_http_info(id, opts)
      data
    end

    # Site Alerts
    # Retrieve all alerts defined in the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesAlert, Fixnum, Hash)>] ResourcesAlert data, response status code and response headers
    def get_site_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesAlert')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Assets
    # Retrieves a paged resource of assets linked with the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The index of the page (zero-based) to retrieve. (default to 0)
    # @option opts [Integer] :size The number of records per page to retrieve. (default to 10)
    # @option opts [Array<String>] :sort The criteria to sort the records by, in the format: &#x60;property[,ASC|DESC]&#x60;. The default sort order is ascending. Multiple sort criteria can be specified using multiple sort query parameters.
    # @return [PageOfAsset]
    def get_site_assets(id, opts = {})
      data, _status_code, _headers = get_site_assets_with_http_info(id, opts)
      data
    end

    # Site Assets
    # Retrieves a paged resource of assets linked with the specified site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The index of the page (zero-based) to retrieve.
    # @option opts [Integer] :size The number of records per page to retrieve.
    # @option opts [Array<String>] :sort The criteria to sort the records by, in the format: &#x60;property[,ASC|DESC]&#x60;. The default sort order is ascending. Multiple sort criteria can be specified using multiple sort query parameters.
    # @return [Array<(PageOfAsset, Fixnum, Hash)>] PageOfAsset data, response status code and response headers
    def get_site_assets_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_assets ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_assets"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/assets'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PageOfAsset')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Credential
    # Retrieves the specified site credential.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @return [SiteCredential]
    def get_site_credential(id, credential_id, opts = {})
      data, _status_code, _headers = get_site_credential_with_http_info(id, credential_id, opts)
      data
    end

    # Site Scan Credential
    # Retrieves the specified site credential.
    # @param id The identifier of the site.
    # @param credential_id The identifier of the site credential.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteCredential, Fixnum, Hash)>] SiteCredential data, response status code and response headers
    def get_site_credential_with_http_info(id, credential_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_credential ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_credential"
      end
      # verify the required parameter 'credential_id' is set
      if @api_client.config.client_side_validation && credential_id.nil?
        fail ArgumentError, "Missing the required parameter 'credential_id' when calling SiteApi.get_site_credential"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials/{credentialId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'credentialId' + '}', credential_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteCredential')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Credentials
    # Retrieves all defined site credential resources.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesSiteCredential]
    def get_site_credentials(id, opts = {})
      data, _status_code, _headers = get_site_credentials_with_http_info(id, opts)
      data
    end

    # Site Scan Credentials
    # Retrieves all defined site credential resources.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesSiteCredential, Fixnum, Hash)>] ResourcesSiteCredential data, response status code and response headers
    def get_site_credentials_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_credentials ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_credentials"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/site_credentials'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesSiteCredential')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Discovery Connection
    # Retrieves the discovery connection assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [SiteDiscoveryConnection]
    def get_site_discovery_connection(id, opts = {})
      data, _status_code, _headers = get_site_discovery_connection_with_http_info(id, opts)
      data
    end

    # Site Discovery Connection
    # Retrieves the discovery connection assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteDiscoveryConnection, Fixnum, Hash)>] SiteDiscoveryConnection data, response status code and response headers
    def get_site_discovery_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_discovery_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_discovery_connection"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/discovery_connection'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteDiscoveryConnection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_discovery_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Discovery Search Criteria
    # Retrieve the search criteria of the dynamic site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [DiscoverySearchCriteria]
    def get_site_discovery_search_criteria(id, opts = {})
      data, _status_code, _headers = get_site_discovery_search_criteria_with_http_info(id, opts)
      data
    end

    # Site Discovery Search Criteria
    # Retrieve the search criteria of the dynamic site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscoverySearchCriteria, Fixnum, Hash)>] DiscoverySearchCriteria data, response status code and response headers
    def get_site_discovery_search_criteria_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_discovery_search_criteria ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_discovery_search_criteria"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/discovery_search_criteria'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DiscoverySearchCriteria')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_discovery_search_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Organization Information
    # Retrieves the site organization information.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [SiteOrganization]
    def get_site_organization(id, opts = {})
      data, _status_code, _headers = get_site_organization_with_http_info(id, opts)
      data
    end

    # Site Organization Information
    # Retrieves the site organization information.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteOrganization, Fixnum, Hash)>] SiteOrganization data, response status code and response headers
    def get_site_organization_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_organization ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_organization"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/organization'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteOrganization')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Engine
    # Retrieves the resource of the scan engine assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ScanEngine]
    def get_site_scan_engine(id, opts = {})
      data, _status_code, _headers = get_site_scan_engine_with_http_info(id, opts)
      data
    end

    # Site Scan Engine
    # Retrieves the resource of the scan engine assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScanEngine, Fixnum, Hash)>] ScanEngine data, response status code and response headers
    def get_site_scan_engine_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_scan_engine ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_scan_engine"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_engine'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScanEngine')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_scan_engine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Schedule
    # Retrieves the specified scan schedule.
    # @param id The identifier of the site.
    # @param schedule_id The identifier of the scan schedule.
    # @param [Hash] opts the optional parameters
    # @return [ScanSchedule]
    def get_site_scan_schedule(id, schedule_id, opts = {})
      data, _status_code, _headers = get_site_scan_schedule_with_http_info(id, schedule_id, opts)
      data
    end

    # Site Scan Schedule
    # Retrieves the specified scan schedule.
    # @param id The identifier of the site.
    # @param schedule_id The identifier of the scan schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScanSchedule, Fixnum, Hash)>] ScanSchedule data, response status code and response headers
    def get_site_scan_schedule_with_http_info(id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_scan_schedule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_scan_schedule"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SiteApi.get_site_scan_schedule"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_schedules/{scheduleId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'scheduleId' + '}', schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScanSchedule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_scan_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Schedules
    # Returns all scan schedules for the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesScanSchedule]
    def get_site_scan_schedules(id, opts = {})
      data, _status_code, _headers = get_site_scan_schedules_with_http_info(id, opts)
      data
    end

    # Site Scan Schedules
    # Returns all scan schedules for the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesScanSchedule, Fixnum, Hash)>] ResourcesScanSchedule data, response status code and response headers
    def get_site_scan_schedules_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_scan_schedules ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_scan_schedules"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_schedules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesScanSchedule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_scan_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site Scan Template
    # Retrieves the resource of the scan template assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ScanTemplate]
    def get_site_scan_template(id, opts = {})
      data, _status_code, _headers = get_site_scan_template_with_http_info(id, opts)
      data
    end

    # Site Scan Template
    # Retrieves the resource of the scan template assigned to the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScanTemplate, Fixnum, Hash)>] ScanTemplate data, response status code and response headers
    def get_site_scan_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_scan_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_scan_template"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/scan_template'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScanTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_scan_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Assigned Shared Credentials
    # Retrieve all of the shared credentials assigned to the site. These shared credentials can be enabled/disabled for the site's scan.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesSiteSharedCredential]
    def get_site_shared_credentials(id, opts = {})
      data, _status_code, _headers = get_site_shared_credentials_with_http_info(id, opts)
      data
    end

    # Assigned Shared Credentials
    # Retrieve all of the shared credentials assigned to the site. These shared credentials can be enabled/disabled for the site&#39;s scan.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesSiteSharedCredential, Fixnum, Hash)>] ResourcesSiteSharedCredential data, response status code and response headers
    def get_site_shared_credentials_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_shared_credentials ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_shared_credentials"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/shared_credentials'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesSiteSharedCredential')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_shared_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SMTP Alert
    # Retrieves the specified SMTP alert.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [SmtpAlert]
    def get_site_smtp_alert(id, alert_id, opts = {})
      data, _status_code, _headers = get_site_smtp_alert_with_http_info(id, alert_id, opts)
      data
    end

    # Site SMTP Alert
    # Retrieves the specified SMTP alert.
    # @param id The identifier of the site.
    # @param alert_id The identifier of the alert.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SmtpAlert, Fixnum, Hash)>] SmtpAlert data, response status code and response headers
    def get_site_smtp_alert_with_http_info(id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_smtp_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_smtp_alert"
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling SiteApi.get_site_smtp_alert"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/smtp/{alertId}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'alertId' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SmtpAlert')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_smtp_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Site SMTP Alerts
    # Retrieves all SMTP alerts defined in the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [ResourcesSmtpAlert]
    def get_site_smtp_alerts(id, opts = {})
      data, _status_code, _headers = get_site_smtp_alerts_with_http_info(id, opts)
      data
    end

    # Site SMTP Alerts
    # Retrieves all SMTP alerts defined in the site.
    # @param id The identifier of the site.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourcesSmtpAlert, Fixnum, Hash)>] ResourcesSmtpAlert data, response status code and response headers
    def get_site_smtp_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SiteApi.get_site_smtp_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SiteApi.get_site_smtp_alerts"
      end
      # resource path
      local_var_path = '/api/3/sites/{id}/alerts/smtp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json;charset=UTF-8'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourcesSmtpAlert')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SiteApi#get_site_smtp_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
[...]
